<html>
    <body>
        <p>
            Bonjour {{ firstname }} {{ lastname }} !
        </p>
        <p>
            Merci de nous avoir contacté.
        </p>
        <p>
            Nous prendrons en charge votre demande dans les meilleurs délais.<br>
            Voici les informations de contact que vous nous avez laissées:<br>
            <strong>Nom:</strong> {{ lastname }}<br>
            <strong>Prénom:</strong> {{ firstname }}<br>
            <strong>Téléphone:</strong> {{ phone }}<br>
            <strong>E-mail:</strong> {{ email }}<br>
            <strong>Message:</strong> {{ message }} <br>
        </p>
        <p>
            Cordialement,<br>
            XXXX
        </p>
    </body>
</html>