{% import "../_macros.njk" as macro %}


{#<pre>{{ content | dump('\t') }}</pre>#}

{# description #}
{% set title = content.custom.title %}
{% set titleType = content.custom.titleType %}
{% set subtitle = content.custom.subtitle %}
{% set subtitleType = content.custom.subtitleType %}
{% set description = content.custom.description | replace("<p></p>", "<p>&nbsp;</p>") %}
{% set textAlign = content.custom.textAlign if content.custom.textAlign else "start" %}

{# Image #}
{% set image = content.custom.image[0] %}
{% set maxwidth = content.custom.maxwidth %}
{% set imagePosition = content.custom.position %}
{% set labelFiles = content.custom.labelFiles %}
{% set files = content.custom.files %}

{# settings #}
{% set background = content.custom.background %}

{# Margins #}
{% set spaceBottom = content.custom.spaceBottom %}
{% set spaceTop = content.custom.spaceTop %}

{# Divider #}
{% set divider = content.custom.divider %}

<div class="textimg padding-element-top-{{ spaceTop }} padding-element-bottom-{{ spaceBottom if not(divider) else "0" }}">

    {#    <div class="container">#}
    <div class="row">
        <div class="col-12">
            {% if title %}
            <{{ titleType }} class="{{ "title-t1 fw-700 mb-40" if titleType === "h1" else "title-t2 fw-600 mb-25" }} mt-0 text-{{ textAlign if textAlign else "center" }}">
            {{ title | safe }}
        </{{ titleType }}>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="wrapper-elements">
            <div class="wrapper-description text-{{ textAlign if textAlign else "center" }}">
                {% if (image and imagePosition !== "bottom") %}
                    <div class="wrapper-image with-border image-{{ imagePosition }} {{ "float-"+imagePosition if (imagePosition === "end" or imagePosition === "start") else "w-100" }} " {% if (maxwidth) %}style="max-width: {{ maxwidth }}px;"{% endif %}>
                        <picture>
                            <!--[if IE 9]>
                            <audio><![endif]-->
                            <source data-srcset="{{ image.versions.main.resolutions.xs.formats.webp.url }}"
                                    media="(max-width: 575px)" type="image/webp"/>
                            <source data-srcset="{{ image.versions.main.resolutions.xs.url }}" media="(max-width: 575px)"
                                    type="{{ image.mimeType }}"/>
                            <source data-srcset="{{ image.versions.main.resolutions.sm.formats.webp.url }}"
                                    media="(max-width: 767px)" type="image/webp"/>
                            <source data-srcset="{{ image.versions.main.resolutions.sm.url }}" media="(max-width: 767px)"
                                    type="{{ image.mimeType }}"/>
                            <source data-srcset="{{ image.versions.main.resolutions.md.formats.webp.url }}"
                                    media="(max-width: 991px)" type="image/webp"/>
                            <source data-srcset="{{ image.versions.main.resolutions.md.url }}" media="(max-width: 991px)"
                                    type="{{ image.mimeType }}"/>
                            <source data-srcset="{{ image.versions.main.resolutions.lg.formats.webp.url }}"
                                    media="(max-width: 1199px)" type="image/webp"/>
                            <source data-srcset="{{ image.versions.main.resolutions.lg.url }}" media="(max-width: 1199px)"
                                    type="{{ image.mimeType }}"/>
                            <source data-srcset="{{ image.versions.main.formats.webp.url }}"
                                    media="(min-width: 1200px)" type="image/webp"/>
                            <source data-srcset="{{ image.versions.main.url }}" media="(min-width: 1200px)"
                                    type="{{ image.mimeType }}"/>
                            <!--[if IE 9]></audio><![endif]-->
                            <img src="{{ image.versions.main.resolutions.lowRes.url }}" data-sizes="auto"
                                 class="lazyload cover-image w-100" alt="{{ image.name }}" {% if (maxwidth) %}style="max-width: {{ maxwidth }}px;"{% endif %}/>
                        </picture>
                    </div>
                {% endif %}
                {% if subtitle %}
                <{{ subtitleType }} class="{{ "title-t2" if subtitleType === "h2" else "title-t3" }} fw-600 color-text mb-0 mt-0">
                {{ subtitle }}
            </{{ subtitleType }}>
            {% endif %}
            {% if description %}
                <div class="description {{ "mt-25" if (subtitle or (image and imagePosition === "top")) }}">
                    {{ description | safe }}
                </div>
            {% endif %}

            {% if (files[0]) %}
                {% if labelFiles %}
                    <h3 class="title-t4 fw-600 color-text mt-40">{{ labelFiles }}</h3>
                {% endif %}
                <ul class="download-files {{ "mt-25" if not(labelFiles) else "mt-10" }} mb-0 ml-0 mr-0">
                    {% for file in files %}
                        {% if (file.extension in ["jpeg", "gif", "png", "jpg", "jpeg", "tif"]) %}
                            {% set icon = "fal fa-file-image" %}

                        {% elseif (file.extension in ["pdf"]) %}
                            {% set icon = "fal fa-file-pdf" %}

                        {% elseif (file.extension in ["mp4", "mov", "mpeg", "avi"]) %}
                            {% set icon = "fal fa-file-video" %}

                        {% elseif (file.extension in ["doc", "docx"]) %}
                            {% set icon = "fal fa-file-word" %}

                        {% elseif (file.extension in ["xls", "xlsx"]) %}
                            {% set icon = "fal fa-file-excel" %}

                        {% elseif (file.extension in ["ppt", "pptx"]) %}
                            {% set icon = "fal fa-file-powerpoint" %}

                        {% elseif (file.extension in ["mp3", "wav", "aiff", "ogg", "flac"]) %}
                            {% set icon = "fal fa-file-audio" %}

                        {% elseif (file.extension in ["zip", "gzip", "rar"]) %}
                            {% set icon = "fal fa-file-archive" %}

                        {% else %}
                            {% set icon = "fal fa-file" %}
                        {% endif %}
                        <li>
                            <a href="{{ file.url }}">
                                <i class="{{ icon }} mr-5"></i>
                                {{ file.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if ctaLabel and ctaUrl %}
                <p class="text-{{ textAlign if textAlign else "center" }} mt-40">
                    <a class="btn btn-{{ ctaColor if ctaColor else "secondary" }}" href="{{ ctaUrl }}" target="{{ ctaTarget }}">{{ ctaLabel }}</a>
                </p>
            {% endif %}

            {% if (image and imagePosition === "bottom") %}
                <div class="wrapper-image with-border w-100" {% if (maxwidth) %}style="max-width: {{ maxwidth }}px;"{% endif %}>
                    <picture>
                        <!--[if IE 9]>
                        <audio><![endif]-->
                        <source data-srcset="{{ image.versions.main.resolutions.xs.formats.webp.url }}"
                                media="(max-width: 575px)" type="image/webp"/>
                        <source data-srcset="{{ image.versions.main.resolutions.xs.url }}" media="(max-width: 575px)"
                                type="{{ image.mimeType }}"/>
                        <source data-srcset="{{ image.versions.main.resolutions.sm.formats.webp.url }}"
                                media="(max-width: 767px)" type="image/webp"/>
                        <source data-srcset="{{ image.versions.main.resolutions.sm.url }}" media="(max-width: 767px)"
                                type="{{ image.mimeType }}"/>
                        <source data-srcset="{{ image.versions.main.resolutions.md.formats.webp.url }}"
                                media="(max-width: 991px)" type="image/webp"/>
                        <source data-srcset="{{ image.versions.main.resolutions.md.url }}" media="(max-width: 991px)"
                                type="{{ image.mimeType }}"/>
                        <source data-srcset="{{ image.versions.main.resolutions.lg.formats.webp.url }}"
                                media="(max-width: 1199px)" type="image/webp"/>
                        <source data-srcset="{{ image.versions.main.resolutions.lg.url }}" media="(max-width: 1199px)"
                                type="{{ image.mimeType }}"/>
                        <source data-srcset="{{ image.versions.main.formats.webp.url }}"
                                media="(min-width: 1200px)" type="image/webp"/>
                        <source data-srcset="{{ image.versions.main.url }}" media="(min-width: 1200px)"
                                type="{{ image.mimeType }}"/>
                        <!--[if IE 9]></audio><![endif]-->
                        <img src="{{ image.versions.main.resolutions.lowRes.url }}" data-sizes="auto"
                             class="lazyload cover-image w-100" alt="{{ image.name }}" {% if (maxwidth) %}style="max-width: {{ maxwidth }}px;"{% endif %}/>
                    </picture>
                </div>
            {% endif %}
        </div>
    </div>
</div>
</div>
{#    </div>#}
</div>

{% if (divider) %}
    <div class="container">
        <div class="row">
            <div class="col-12 padding-element-top-100 padding-element-bottom-{{ spaceBottom if spaceBottom else spaceTop }}">
                <hr class="divider" />
            </div>
        </div>
    </div>
{% endif %}
