{% extends "layout/layout.njk" %}
{% import "../_macros.njk" as macro %}
{% block content %}
    <pre>
    {{ page | dump('\t') }}
    </pre>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-12 content-default">
                <h1>{{ page.title }}</h1>
                <div class="content-default-wrapper">
                    {{ macro.contents(page.contents['row1']) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

